.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid white;
    border-right: 16px solid #152329;
    border-bottom: 16px solid white;
    border-left: 16px solid #152329;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
/* Add animation to "page content" */
.animate-bottom {
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

@-webkit-keyframes animatebottom {
from { bottom:-100px; opacity:0 } 
to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
from{ bottom:-100px; opacity:0 } 
to{ bottom:0; opacity:1 }
}

/* Dropdown Button */
.dropbtn {
    background-color: #152329;
    text-shadow: 1px 1px black;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 100%;
    border: none;
    cursor: pointer;
    float: bottom;
    position: relative;
    border-top-style: dashed;
    border-color: white;
    border-top-width: 2px;
    border-bottom-style: dashed;
    border-color: white;
    border-bottom-width: 2px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover{
    background-color: #152329;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    bottom:0;
    z-index: 99;
    overflow: visible;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #152329;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
    right: 0;
    overflow: visible;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block; z-index: 99;}

.legend{
    background-color: black;
}

.legend-table,th,td{
    border-collapse: collapse;
    color: white;
    padding: 3px;
    word-wrap: break-word;
}

div.wrapper {
    width: 100%;
    height: 100%;
    resize: auto;
}

img.logo {
    max-width: 50%;
    max-height: 50%;
}

.toolbar {
    width: 18%;
    height: 100%;
    float: right;
    background-color: #152329;
    padding:0;
    margin:0;
    position: relative;
    box-sizing: border-box;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    overflow: hidden;
}

.cy {
    width: 82%;
    height: 100%;
    float: left;
    padding:0;
    margin:0;
    position: fixed;
    background-color: #00001a;
    resize: both;
    box-sizing: border-box;
}

div.toolbar-title{
    font-family:'monospace';
    text-align: center;
    position: relative;
}
p.toolbar-title{
    color: white;
    font-size: medium;
    text-size-adjust: none;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px black;
    width: 100%;
}
p.header{
    color: white;
    background-color: #00001a;
    resize: none;
    text-size-adjust: none;
    padding: 0;
    margin: 0;
    font-size:medium;
    font-family:'monospace';
    text-shadow: 1px 1px black;
    resize: both;

}
p.data{
    color: white;
    resize: auto;
    text-size-adjust: auto;
    font-size: 12;
    word-wrap: break-word;
    font-family:monospace;
}

td[colspan="2"] {
    text-align: center;
}

input {
    color: white;
    background-color: black;
    font-family:monospace;
    width: 100%;
    resize: none;
    text-align: center;    
}

.button {
    background-color:black;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    right: 0;
    resize: both;
    width: 100%;
    border-color: #fefefe;
    border-style: groove;
    border-width: 1px;
}

.selectDown{
    background-color:black;
    border: none;
    padding: 2px 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    resize: both;
}


.imgcontainer {
    text-align: center;
}

img.avatar {
    width: 35%;
}

.container {
    padding-top: 50px;
    padding-left: 400px;
    padding-right: 400px;
    align-content: center;

}


label,p.label {
    color: white;
    font-family: 'monospace';
}

div.loginWrapper {
    text-align: center;
}

body{
    margin: 0;
}