@font-face{
    font-family: 'Fira Mono';
    src: url('FiraMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

._dash-loading{
    background-color: #21273D;
    width: 100%;
    height: 100%;
    position: fixed;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -5px;
    left: 105%; 
    font-family: 'Fira Mono';
    font-size: 14px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

body{
    margin: 0;
}

._dash-undo-redo {
    display: none;
}

.container{
    display: flex;
}

.pageDiv{
    width: 100%;
    height: 100%;
    float: right;
    padding:0;
    margin:0;
    position: absolute;
    background-color: #21273D;
}

.legend{
    background-color: rgb(5, 5, 36);
    bottom: 2%;
    left: 1%;
    position: fixed;
    z-index: 1;
    width: 150px;
    height: 220px;
    opacity: 0.8;
    color: white;
    font-family: "Fira Mono";
    text-align: left;
    border-radius: 10%;
    
}

.functionIcons{
    left: 1%;
    top: 2%;
    z-index: 1;
    position: fixed;
    width: 45px;
    height: 20%;
    text-align: center;
    border-radius: 10%;
}

.messagePop{
    left: 50%;
    top: 2%;
    z-index: 1;
    position: fixed;
    width: 45px;
    height: 20%;
    text-align: center;
    color: white;
}

.custom-tabs {
    right: 2%;
    position: fixed;
    margin-top: 20px;
    width: 25%;
    border-radius: 10px;
    padding: 0;
    border: 0px solid #474747;
    min-width: 380px;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    padding: 4px !important;
    font-family: "Fira Mono";
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 14px;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
}

.dbinfocontent{
    color: white;
    background-color: rgb(5, 5, 36);
    padding:0;
    margin:0;
    height: 37%;
    width: 100%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    position: relative;
}

.nodeinfocontent{
    color: white;
    background-color: rgb(5, 5, 36);
    padding:0px 0px 5px 0px;
    margin:0;
    height: 33%;
    width: 100%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    position: relative;
}

.filtertable{
    margin: 0;
    padding: 0;
    background-color: rgb(5, 5, 36);
    width: 100%;
    border-bottom: 3px solid rgb(161, 161, 161);
}

.filtername{
    color:rgb(5, 5, 36);
    font-family: "Fira Mono";
    font-size: 13px;
    padding: 1px 1px 1px 1px;
    width: 71px;
    max-width: 71px;
}

.filtervalue{
    color: rgb(5, 5, 36);
    font-family: "Fira Mono";
    font-size: 13px;
    padding: 0px;
}

.tablerows{
    width: 100%;
    border-bottom-width: 100%;
    font-family: "Fira Mono";
    word-wrap: break-word;
}

.legendrows{
    width: 50%;
    border-bottom-width: 50%;
}

.rowname{
    color: white;
    font-family: "Fira Mono";
    font-weight: 900;
    font-size: 13px;
    padding: 9px;
    width: 10%;
    border-right: 1px solid;
    border-top: 1px solid lightgray;
}

.rowvalue{
    color: white;
    font-family: "Fira Mono";
    font-size: 13px;
    border-left: 0;
    border-top: 1px solid lightgray;
    padding-right: 2px;
    text-align: right;
    word-wrap: break-word;

}

.legendindicator{
    color: white;
    font-family: "Fira Mono";
    font-weight: 900;
    font-size: 13px;
    padding: 9px;
    width: 10%;
}

.legendvalue{
    color: white;
    font-family: "Fira Mono";
    font-size: 13px;
    border-left: 0;
    padding-left: 2px;
    text-align: left;
}

.nodetable{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.logDiv{
    right: 1%;
    bottom: 2%;
    z-index: 1;
    position: relative;
    width: 45px;
    height: 20%;
    margin-top: 20px;
    width: 25%;
    border-radius: 10px;
    border: 2px solid lightgray;
    padding: 0;
    border: 0px solid #474747;
}

.bgbutton{
    font-family: "Fira Mono";
    color: white;
    background-color:rgb(128, 0, 0);
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    float: right;
    border-color:  rgb(5, 5, 36);
}