<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/beacongraph.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cytoscape-context-menus.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="wrapper" id="wrapper">
        <div class="cy" id="cy">
                <div id="loader" class="loader"></div>
        </div>
        <div class="toolbar" id="toolbar">
            <div class="toolbar-title"><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" </div>
            <!-- <div class="legend">
                    <button onclick="showLegend()" class="dropbtn">Graph Legend</button>
                    <div id="legend-drop" class="dropdown-content">
                        <table class="legend-table">
                            <tr>
                                <th>Icon</th>
                                <th>Description</th>
                            </tr>
                            <tr>
                                <td>GREEN</td>
                                <td>WiFi Client</td>
                            </tr>
                            <tr>
                                <td>RED</td>
                                <td>Open</td>
                            </tr>
                            <tr>
                                <td>RED/WHITE</td>
                                <td>WEP</td>
                            </tr>
                            <tr>
                                <td>BLUE</td>
                                <td>WPA</td>
                            </tr>
                            <tr>
                                <td>GOLD</td>
                                <td>WPA2</td>
                            </tr>
                            <tr><td colspan="2">&nbsp;</td></tr>
                            <tr><td colspan="2">LINES</td></tr>
                            <tr>
                                <td>YELLOW</td>
                                <td>AP Probes</td>
                            </tr>
                            <tr>
                                <td>RED</td>
                                <td>AP Association</td>
                            </tr>
                        </table>
                </div>
            </div> -->
            <div>
                <p class='header'>NAME</p>
                <p class='data' id="name">&nbsp;</p>
                <p class='data' id="bssid">&nbsp;</p>
            </div>
            <div>
                    <p class='header'>OUI</p>
                    <p class='data' id="oui">&nbsp;</p>
                </div>
            <div>
                <p class='header'>TYPE</p>
                <p class='data' id="type">&nbsp;</p>
            </div>
            <div>
                <p class='header'>AUTH</p>
                <p class='data' id="auth">&nbsp;</p>
            </div>
            <div>
                <p class='header'>CIPHER</p>
                <p class='data' id="cipher">&nbsp;</p>
            </div>
            <div>
                <p class='header'>CHANNEL</p>
                <p class='data' id="channel">&nbsp;</p>
            </div>
            <div>
                <p class='header'>SPEED</p>
                <p class='data' id="speed">&nbsp;</p>
            </div>
            <div>
                <p class='header'>LAN IP</p>
                <p class='data' id="lan">&nbsp;</p>
            </div>
            <div>
                <select name="category" id="category" class="selectDown">
                    <option value="name">Name</option>
                    <option value="oui">OUI</option>
                    <option value="type">Type</option>
                    <option value="auth">Auth</option>
                    <option value="cipher">Cipher</option>
                    <option value="channel">Channel</option>
                    <option value="speed">Speed</option>
                    <option value="lan">Lan IP</option>
                </select>
                <input type="text" id="searchItem" name="searchItem">
                <button class="button" id="filter">Search</button>
                <button class="button" id="restore">Reset</button>
                <button class="button" id="exportview">Export View PNG</button>
                <button class="button" id="exportfull">Export Full PNG</button>
            </div>
        </div>
    </div>
    <script>
            function showLegend(){
                document.getElementById("legend-drop").classList.toggle("show");
            }         
    </script>
    <script src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cytoscape-view-utilities.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cytoscape-cose-bilkent.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cytoscape-context-menus.js') }}"></script>
    <script src="{{ url_for('static', filename='js/beacongraph.js') }}"></script>
  </body>
</html>